/* .vitepress\theme\style\blur.css */
:root {

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: rgba(255, 255, 255, .75);
        backdrop-filter: blur(20px);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, .55);
        backdrop-filter: blur(20px);
    }

    /* 文档页侧边栏顶部透明 */
    .curtain {
        /*background-color: rgba(255, 255, 255, .55);*/
        backdrop-filter: blur(20px);
    }

    @media (min-width < 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(255, 255, 255, .55);
            backdrop-filter: blur(10px);
        }
    }

    @media (min-width < 768px) {
        .DocSearch-Button {
            width: 30px !important; height: 30px !important;
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, .55);
        backdrop-filter: blur(20px);
    }
}

html.dark {
    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: rgba(0, 0, 0, .75);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(0, 0, 0, .55);
    }

    @media (min-width < 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(0, 0, 0, .55);
        }
    }

    @media (min-width < 768px) {
        .DocSearch-Button {
            width: 30px !important; height: 30px !important;
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(0, 0, 0, .55);
    }
}