.el-table {
  border-radius: .25rem;
}

.el-table th.el-table__cell {
  --un-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--un-bg-opacity));
  --un-text-opacity: 1;
  color: rgb(15 15 15 / var(--un-text-opacity));
  font-weight: 500
}

.dark .el-table th.el-table__cell {
  --un-bg-opacity: 1 !important;
  background-color: rgb(31 31 31 / var(--un-bg-opacity))!important;
  --un-text-opacity: 1;
  color: rgb(243 244 246 / var(--un-text-opacity))
}


.el-table table {
  margin: 0;
}

.el-table tr {
  margin-top: 0; border: none;
}

.el-table th, .el-table td {
  border: 0;
}

.el-table tr:nth-child(2n) {
  background-color: transparent;
}

.theme-blog-popover, .theme-blog-popover-close {
  top: 120px !important;
}

.VPDoc.has-aside .content-container {
  max-width: max-content !important;
}