name: Deploy VitePress site to Docker

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: wsl
    env:
      NODE_OPTIONS: "--max-old-space-size=64000"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build with VitePress
        run: pnpm build
      - name: Push Image
        env:
            DOCKER_USERNAME: ${{ secrets.ALIYUN_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}
            DOCKER_REGISTRY: ${{ secrets.ALIYUN_REGISTRY }}
            SHA: ${{ github.sha }}
        run: |
          docker build . -t doc-v3:latest
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $DOCKER_REGISTRY
          docker tag doc-v3:latest $DOCKER_REGISTRY/mineadmins/docs:$SHA
          docker push $DOCKER_REGISTRY/mineadmins/docs:$SHA